<!DOCTYPE html>
<html>
<head>
  <title>WhatTheDuck - Run SQL queries on your CSV files in browser</title>

  <meta charset="utf-8">
  <meta name="title" content="WhatTheDuck"/>
  <meta name="description"
        content="It allows users to upload CSV files, store them in tables, and perform SQL queries on the data. The application supports downloading filtered results in CSV format, uploading multiple files, and running join queries. Please note that the data is stored temporarily in memory"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://whattheduck.incentius.com/"/>
  <meta property="og:title" content="WhatTheDuck"/>
  <meta property="og:description"
        content="It allows users to upload CSV files, store them in tables, and perform SQL queries on the data. The application supports downloading filtered results in CSV format, uploading multiple files, and running join queries. Please note that the data is stored temporarily in memory"/>
  <meta property="og:image" content="https://whattheduck.incentius.com/images/WhatTheDuck.png"/>


  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content="https://whattheduck.incentius.com/"/>
  <meta property="twitter:title" content="WhatTheDuck"/>
  <meta property="twitter:description"
        content="It allows users to upload CSV files, store them in tables, and perform SQL queries on the data. The application supports downloading filtered results in CSV format, uploading multiple files, and running join queries. Please note that the data is stored temporarily in memory"/>
  <meta property="twitter:image" content="https://whattheduck.incentius.com/images/WhatTheDuck.png"/>

  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/png" sizes="128x128" href="favicon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon.png">
  <link rel="icon" type="image/ico" href="favicon.png">
  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.23.1/src-min-noconflict/ace.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/ace-builds@1.23.1/css/ace.min.css" rel="stylesheet">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WTWSQLP');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTWSQLP"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<!-- quasar:entry-point -->
</body>
</html>
